.what-hyf {
  height: 400px;
  background-color: var(--primary-color);
  color: #2f35e4;
  text-align: center;
  margin: 50px;
  border: 0;
  vertical-align: baseline;
  outline: 0;
  padding: 0;
}

.container {
  height: 100%;
  align-items: center;
  display: flex;
}

.what-text h1 {
  font-size: 40px;
  line-height: 1.2;
  margin: 10px 0;
}

.hr-1 {
  width: 2%;
  margin: auto;
  background-color: #0c5cd5;
  height: 6px;
}
