/* Start Global Rules */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #fff;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start Header */

header {
  background-color: var(--primary-color);
  min-height: 70px;
  color: #fff;
  box-shadow: 0 0 10px #8fabffbf;
  position: sticky;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .nav li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 30px;
  position: relative;
  color: var(--secondary-color);
  font-weight: 400;
}

header .nav ul {
  display: flex;
}

header .nav li:hover a {
  color: #353535;
}

header .container img {
  color: var(--light-color);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Header */

/* Start Intro */

.intro {
  background-color: #fff;
  box-shadow: 0 15px 11px #f3f3f3;
}

.intro .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro .intro-img {
  max-width: 600px;
}

.intro .intro-img img {
  width: 100%;
  position: relative;
  animation-name: up-and-down;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.intro .intro-text h1 {
  color: #454545;
  font-size: 45px;
  margin-bottom: 5px;
}

.intro .intro-text span {
  font-weight: 400;
  color: var(--secondary-color);
}

.intro .intro-text p {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 30px;
  color: #6e6e6e;
}

.intro .intro-text a {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 15px 35px;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  position: absolute;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.intro .intro-text a:hover {
  box-shadow: 0 0 10px #1c3fa8bf;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

@keyframes up-and-down {
  0% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
}

/* End Intro */

/* Start Showcase */

.showcase {
  margin-top: 70px;
}

.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showcase .showcase-analysis {
  text-align: center;
}

.showcase .showcase-analysis h1 {
  color: var(--secondary-color);
  font-size: 75px;
}

.showcase .showcase-analysis p {
  color: #6e6e6e;
  font-size: 15px;
  font-weight: 300;
  max-width: 300px;
  line-height: 1.5;
}

/* End Showcase */
